body {
  background: #92bbe2;
  min-height: 100vh;
  display: flex;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.inputBox {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #e9e9e9;
  margin-top: -9px;
  margin-left: -9px;
  box-shadow: 10px 14px 80px rgba(34, 35, 58, 0.2);
}

.inputBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.insideTheBox {
  margin: auto;
  background: #ffffff;
  box-shadow: inset 0 0 8px rgba(253, 218, 218, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  padding: 40px 55px 45px 55px;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(173, 168, 168);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s;

  background-color: #e2e2e2;
  padding: 29px;
  border: 5px solid;
  border-color: #e2e2e2;
  width: 300px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  shape-outside: 10px;
}
button {
  border: none;
  outline: none;
  display: inline-block;
  height: 35px;
  width: 180px;
  line-height: 30px;
  padding: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 650;
  letter-spacing: 0.055em;
  background-color: #9b9baa;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 60px;
}

button:hover {
  color: rgb(145, 174, 253);
  cursor: pointer;
  background-color: #bfc3f3;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(188, 188, 255, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

form {
  padding: 39px;
  margin: center;
  padding-bottom: 10p;
  font-size: 17px;
  font-style: serif;
  border-radius: 5px;
}
.inputBox h3 {
  text-align: center;
  margin: 0;
  line-height: 1.2;
  padding-bottom: 18px;
}

.inputCheckBox {
  font-weight: 400;
}

.forgotPassword,
.forgotPassword a {
  text-align: right;
  font-size: 11px;
  padding-top: 10px;
  color: #9b9b9b;
  margin: 0;
}

.forgotPassword a {
  color: #82b8ff;
}
.formControl {
  border: 2px solid rgb(173, 168, 168);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: center;
  width: 140px;
  height: 6px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.formGroup {
  font-style: ;
}
