<h1> Login (TEMPORARY) </h1>
<% if(message.length > 0) { %>
	<div class="alert alert-danger">
		<%= message %>
	</div>

<% } %>
<form action="/login" method="POST">
<div>
	<label for="username">Username: </label>
	<input type="text" id="email" name="email"
	required>
</div>
<div>
	<label for="password">Password: </label>
	<input type="text" id="password" name="password"
	required>
</div>
<button type="submit">Login</button>
</form>
<div>
<a href="/signup">Register</a>
</div>
<label> This is a temporary HTML rendering. The real login page should be implemented as a part of the React app. </label>