<h1> Register (TEMPORARY)</h1>
<form action="/register" method="POST">
<div>
	<label for="name">Username: </label>
	<input type="text" id="username" name="username"
	required>
</div>
<div>
	<label for="password">Password: </label>
	<input type="text" id="password" name="password"
	required>
</div>
<button type="submit">Register</button>
</form>
<div>
<a href="/login">Login</a>
</div>
<label> This is a temporary HTML rendering. The real register user page should be implemented in the React app. </label>