.App {
  font-family: sans-serif;
  text-align: center;
}
#stripes {
  background: #999955;
  background-image: linear-gradient(
    #dab046 2%,
    rgb(212, 186, 182) 20%,
    rgb(247, 109, 93) 40%,
    rgb(133, 199, 27) 30%,
    rgb(236, 137, 142) 60%,
    rgb(212, 113, 138) 60%,
    rgb(116, 93, 99) 80%,
    #a38f98 80%
  );
  margin: 0 auto;
  margin-top: 235px;
  width: 100%;
  height: 150px;
  box-shadow: -30px 0 35px -25px black, 20px 0 45px -25px black;
}
#stripes:before {
  content: "";
  position: absolute;
  background: rgb(241, 224, 180);
  border-radius: 15px;
  z-index: -1;
  margin-top: 257px;
  width: 750px;
  height: 490px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  left: 48%;
  top: 66px;
  margin-left: -334px;
  box-shadow: #333;
}

#card {
  position: absolute;
  border-radius: 10px;
  margin-top: 300px;
  width: 650px;
  height: 400px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  left: 48%;
  top: 67.5px;
  margin-left: -280px;
  background: #e9e2d0;
  box-shadow: -30px 0 35px -25px black, 20px 0 45px -25px black;
  z-index: 1;
}

#card h2 {
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 10px;
  font-size: 15pt;
}

#card p {
  font-family: sans-serif;
  color: rgb(39, 38, 38);
  font-size: 12px;
}

#card span {
  font-family: courier;
}
#hobbies {
  color: rgb(0, 0, 0);
  background-color: rgb(224, 215, 193);
  position: absolute;
  margin-top: 10px;
  margin-left: 260px;
  border-radius: 10px;
  width: 390px;
  height: 300px;
  font: sans-serif;
}
#bio {
  background-color: rgb(224, 215, 193);
  height: 300px;
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  width: 250px;
}
