#main-messages-table {
    width: 50%;
    border-collapse: collapse;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    height: auto;
  }

  .messages-table-row {
    padding: 0px;
    height: 70px;
    width: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    
  }

  .new-table-column {
    border-width: 10px;
    border-color: blue;
    border-left-style: solid;
    height: 70px;
    width: 500px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .old-table-column {
    height: 70px;
    width: 610px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .new-messages-link-button {
    transition-duration: 0.4s;
    background-color:solid white;
    color: rgb(15, 15, 15);
    font-size: 30px;
    vertical-align: center;
    width: 500px;
    height: 100%;
    text-align: center;
  }

  .old-messages-link-button {
    transition-duration: 0.4s;
    background-color:solid white;
    color: rgb(15, 15, 15);
    font-size: 30px;
    vertical-align: center;
    width: 510px;
    height: 100%;
    text-align: center;
  }
  
  .new-messages-link-button:hover, .old-messages-link-button:hover {
    border: 2px solid rgb(153, 153, 153);
    background-color: rgb(225, 225, 225);
  }

  .alignment-tool {
    height: 5px;
    width: 5px;
    background-color: transparent;
    display: inline-block;
  }
  